@page
@model IndexModel
@{
    ViewData["Title"] = "Scripture Journal";
}

<div class="text-center">
    <h1 class="display-4">My Scripture Journal</h1>
    <p>This is my CIT-365 ASP.NET Demonstration of Razor Pages.</p>
    <img style="vertical-align: middle; border-style: none; max-width: 100%; border-radius: 10px;" src="images/boy_reading_scriptures.jpeg" alt="Boy Reading Scriptures">
</div>
