@page
@model MyScriptureJournal.Pages.RequirementsModel
@{
    ViewData["Title"] = "Requirements";
}

<h2>Requirements</h2>
<p>Your application will need to meet each of the following requirements in order to be considered for full credit:</p>
<ul>
    <li>View all records (scripture journal entry) <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>View individual entries in a detail view <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>Add a new scripture journal entry <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>Edit an existing record <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>Delete records with confirmation <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>Search by book <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>Search by keyword from the note field <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>Sort by book <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>Sort by date added (Note that no other sorting should be allowed in your solution.) <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>Use contemporary, valid HTML and CSS checked with a W3C validator. <span style="font-weight: bold; color: green;">&#10003;</span>
        <ul>
            <li>Audit using the Chrome Dev Tools auditor to find outstanding or low hanging fruit opportunities. <span style="font-weight: bold; color: green;">&#10003;</span></li>
            <li>Change any non-semantic HTML to contemporary, semantic HTML <span style="font-weight: bold; color: green;">&#10003;</span></li>
            <li>Your application should be responsive in all views. <span style="font-weight: bold; color: green;">&#10003;</span></li>
        </ul>
    </li>
    <li>Use external Google font or fonts depending upon your styling (fonts.google.com). <span style="font-weight: bold; color: green;">&#10003;</span></li>
    <li>Follow basic proximity, alignment, repetition, contrast, and typography design principles. <span style="font-weight: bold; color: green;">&#10003;</span></li>
</ul>